@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');


* {
	margin: 0; 
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Rubik', sans-serif;
}


a {
    text-decoration: none;
    color: black;
}
a.link-github{
	width: 20px;
}

p {
	font-family: 'Rubik', sans-serif;
	font-size: 18px;
}
.social-media-desktop{
	width: 400px;
	text-align: right;
}

.link-github{
	padding-right: 20px;
}



.project-container-desktop {
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
width: 100%;
}

/*BUTTON ANIMATION*/

.svg-wrapper {
	height: 60px;
	margin: 0 auto;
	position: relative;
	transform: translateY(-50%);
	width: 400px;
	text-align: center;
	cursor: pointer;
	margin-top: 50px;
  }
  
  .shape {
	fill: transparent;
	stroke-dasharray: 140 540;
	stroke-dashoffset: -474;
	stroke-width: 8px;
	stroke: #F4C273;
  }
  
  .text {
	color: black;
	font-family: 'Rubik', sans-serif;
	font-size: 22px;
	letter-spacing: 4px;
	line-height: 30px;
	position: relative;
	top: -48px;
  }
  
  @keyframes draw {
	0% {
	  stroke-dasharray: 140 540;
	  stroke-dashoffset: -474;
	  stroke-width: 8px;
	}
	100% {
	  stroke-dasharray: 760;
	  stroke-dashoffset: 0;
	  stroke-width: 2px;
	}
  }
  
  .svg-wrapper:hover .shape {
	-webkit-animation: 0.5s draw linear forwards;
	animation: 0.5s draw linear forwards;
  }

	/*DESKTOOP STYLING PROJECTS*/
.project-image {
	padding: 0;
	margin: 0; 
	cursor: pointer;
}
.project-title{
	color: black;
	font-family: 'Rubik', sans-serif;
	font-size: 40px;
}

.project-text {
	letter-spacing: 2px;
  line-height: 28px;
	font-size: 14px;
}

.tech-attributes{
	padding: 3px;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	font-family: 'Rubik', sans-serif;
	letter-spacing: 2px;
  line-height: 20px;
	font-size: 12px;
}

.tech-attributes div{
	margin: 5px;
	padding: 10px;
	text-align: center;
	background-color: #F7E8C4;
	font-family: 'Rubik', sans-serif;
	font-weight: bold;
}

.project-container-desktop{
	display: flex; 
	justify-content: center; 
	align-items: center; 
	flex-direction: column;
}

.project-section-desktop{
	display: flex;  
	flex-direction: row; 
	padding: 50px;
}


.project-info-left-first-section {
 	display: flex;
	width: 400px;
	justify-content: space-around; 
	align-items: center; 
	flex-direction: column; 
	margin: 20px;
	padding: 20px;
}

.project-info-right-first-section {
	display: none;
}

.project-info-left-second-section {
	display: none;
}

.project-info-right-second-section {
 	display: flex;
	width: 400px;
	justify-content: space-around; 
	align-items: center; 
	flex-direction: column;  
	margin: 20px;
	padding: 20px;
}


/* MOBILE DEVISE STYLING GOES HERE */

.page-container-mobile {
	display: flex; 
	justify-content:center;
	align-items: center;
	flex-direction: column;
	width: 100vh; 
	margin: 0;
}

.project-container-mobile {
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
width: 100%;
}

.project-section-mobile{
	display: flex;  
	flex-direction: column; 
	justify-content: center;
	align-items: center;
	padding: 50px;
}

.project-image-mobile{
	width: 600px;
}


