html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Rubik', sans-serif;
}

a{
    text-decoration: none;
    color: black;
}

.project-image {
	border: 2px solid black;
	padding: 0;
	margin: 0; 
	cursor: pointer;
	width: 500px;
}


/*BUTTON ANIMATION*/

.svg-wrapper {
	height: 60px;
	margin: 0 auto;
	position: relative;
	transform: translateY(-50%);
	width: 350px;
	text-align: center;
	cursor: pointer;
	margin-top: 50px;
  }
  
  .shape {
	fill: transparent;
	stroke-dasharray: 140 540;
	stroke-dashoffset: -474;
	stroke-width: 8px;
	stroke: #F4C273;
  }
  
  .text {
	color: black;
	font-family: 'Roboto Condensed';
	font-size: 22px;
	letter-spacing: 4px;
	line-height: 30px;
	position: relative;
	top: -48px;
  }
  
  @keyframes draw {
	0% {
	  stroke-dasharray: 140 540;
	  stroke-dashoffset: -474;
	  stroke-width: 8px;
	}
	100% {
	  stroke-dasharray: 760;
	  stroke-dashoffset: 0;
	  stroke-width: 2px;
	}
  }
  
  .svg-wrapper:hover .shape {
	-webkit-animation: 0.5s draw linear forwards;
	animation: 0.5s draw linear forwards;
  }

	.project-title{
		color: blue;
		font-family: 'Rubik', sans-serif;
		font-size: 40px;
	}

	.tech-attributes{
		padding: 10px;
		border: 2px solid black; 
		display: grid;
    grid-template-columns: repeat(4, 1fr);
    font-size: 15px;
    font-family: 'Rubik', sans-serif;
	}

	.tech-attributes div{
    margin: 10px;
    padding: 10px;
    text-align: center;
    background-color: #f8f1f1;
}

.project-container-desktop{
	display: flex; 
	justify-content: center; 
	align-items: center; 
	flex-direction: column;
}

.project-section-desktop{
	display: flex;  
	flex-direction: row; 
	padding: 50px;
}



.project-info-left-first-section {
 	display: flex;
	width: 400px;
	justify-content: space-around; 
	align-items: center; 
	flex-direction: column; 
	border: 2px black solid; 
	margin: 20px;
	padding: 20px;
}

.project-info-right-first-section {
	display: none;
}

.project-info-left-second-section {
	display: none;
}

.project-info-right-second-section {
 	display: flex;
	width: 400px;
	justify-content: space-around; 
	align-items: center; 
	flex-direction: column; 
	border: 2px black solid; 
	margin: 20px;
	padding: 20px;
}



/* Mobile device styling here */
.project-section-mobile{
	display: flex;  
	flex-direction: column; 
	justify-content: center;
	align-items: center;
	padding: 50px;
	border: 2px solid red; 
}

.project-image-mobile{
	width: 200px;
}
