
@import url('https://fonts.googleapis.com/css2?family=Lora&family=Poppins:wght@100&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	margin: 0; 
}
html,
body {
  padding: 0;
  margin: 0;
	scroll-behavior: smooth;
}

 /*@media screen and (min-width: 1024px) {
        html, body{
            width:100%;;
        }
			}
*/
/*HEADER*/

.header-background-dekstop {
	 width: 50%;
    height: 700px;
    margin: 0;
    background-image: url(../assets/header.png);
    background-size: cover;
}
@layer utilities {
  .clip-path-arrow-right {
clip-path: polygon(0% 20%, 60% 20%, 60% 0%, 100% 50%, 60% 100%, 60% 80%, 0% 80%);
transform: rotate(0deg);
  }
}

@layer utilities {
  .clip-path-arrow-down {
	clip-path: polygon(0% 20%, 60% 20%, 60% 0%, 100% 50%, 60% 100%, 60% 80%, 0% 80%);
	transform: rotate(90deg);
  }
}

@layer utilities {
  .polygon {
clip-path: polygon(50% 0%, 100% 0, 100% 100%, 49% 82%, 52% 82%, 0 98%, 0 0);

  }
}

@layer utilities {
	.email {
	padding: 10px;
	display: flex;
	width: 5px;
	letter-spacing: 4px;
	line-height: 20px;
	font-size: 14px;
	transform-origin: 0 0;
	transform: rotate(90deg);
	font-family: "Lora", sans-serif;
	margin-left: 2px
}
}

@layer utilities {
	.photo {
clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
}
}

@layer utilities {
	.large-header {
clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
}
}


/*ABOUT ME*/
.header-container {
 margin-top: 30px;
 text-align: center;
 padding: 30px;
}

 h1{
	font-size: 30px;
  letter-spacing: 2px;
  line-height: 40px;
	font-family: "Lora", sans-serif;
	text-transform: lowercase;
 }

  h2{
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  letter-spacing: 4px;
  line-height: 20px;
	text-transform: uppercase;
	font-weight: 600;
	text-align: center;
 }

a {
    text-decoration: none;
    color: black;
}

.heart{
	color: black;
	background-color: black;
}


.vertical-timeline-element-content p {
	font-weight: 900;
}

p {
	font-family: "Poppins", sans-serif;
	font-size: 14px;
	letter-spacing: 2px;
  line-height: 30px;
	font-weight: bold;
	color: black;
}


.link-github{
	padding-right: 10px;
}

	/*DESKTOOP STYLING PROJECTS*/

.project-header-container{
display: flex; 
justify-content: center; 
align-items: center;
flex-direction: column;
}

.project-container-desktop {
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
width: 100%;
}


.social-media-desktop{
width: 95%;
display: flex;
justify-content: space-between;
align-items: center;
flex-direction: row;
}

.featured-project-header-desktop{
	text-align: center;
	font-size: 35px;
	letter-spacing: 4px;
  line-height: 50px;
	font-family: "Lora", sans-serif;
}

.featured-project-second-header-desktop {
	font-size: 14px;
  font-family: "Poppins", sans-serif;
  letter-spacing: 4px;
  line-height: 20px;
	padding: 10px;
}

.project-image-desktop {
	padding: 0;
	margin: 0; 
	cursor: pointer;
	width: 500px;
}
.project-title{
	color: black;
	font-family: "Lora", sans-serif;
	font-size: 28px;
	text-align: left;
	width: 95%;

}

.project-text {
	letter-spacing: 2px;
  line-height: 28px;
	font-size: 14px;
	width: 95%;
}

.tech-attributes{
	padding: 3px;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
		font-family: "Poppins", sans-serif;
	letter-spacing: 2px;
  line-height: 20px;
	font-size: 12px;
}

.tech-attributes div{
	margin: 5px;
	padding: 10px;
	text-align: center;
	background-color: #f8f2e1;
		font-family: "Poppins", sans-serif;
	font-weight: bold;
}

.project-section-desktop{
	display: flex;  
	flex-direction: row; 
}


.project-info-left-first-section {
 	display: flex;
	width: 400px;
	justify-content: space-around; 
	align-items: center; 
	flex-direction: column; 
	margin: 20px;
	padding: 20px;
}

.project-info-right-first-section {
	display: none;
}

.project-info-left-second-section {
	display: none;
}

.project-info-right-second-section {
 	display: flex;
	width: 400px;
	justify-content: space-around; 
	align-items: center; 
	flex-direction: column;  
	margin: 20px;
	padding: 20px;
}


/* MOBILE DEVISE STYLING GOES HERE */


.page-container-mobile {
	display: flex; 
	justify-content:center;
	align-items: center;
	flex-direction: column;
	margin: 10px;
}

.project-container-mobile {
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
}


.project-section-mobile{
	display: flex;  
	flex-direction: column; 
	justify-content: center;
	align-items: center;
	width: 80%;
}


.project-image-mobile{

}


.project-title-mobile {
	color: black;
	font-family: "Lora", sans-serif;
	font-size: 22px;
	text-align: left;
	width: 90%;
}

.project-text-mobile {
	letter-spacing: 2px;
  line-height: 28px;
	font-size: 14px;
	width: 90%;
}

.social-media-mobile{
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: row;
	padding-left: 10px;
	padding-right: 5px;
}

.tech-attributes-mobile {
	padding: 3px;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	font-family: "Lora", sans-serif;
	letter-spacing: 2px;
  line-height: 20px;
	font-size: 12px;
	width: 100%;
}

.tech-attributes-mobile div{
	margin: 5px;
	padding: 10px;
	text-align: center;
	background-color: #f8f2e1;
	font-family: "Poppins", sans-serif;
	font-weight: bold;
}


.icons{
	color: black;
}

i{
	color: black;
	font-size: 40px;
}


.profile-picture{
	width: 600px;
}

.heart{
	width: 40px;
	height: 40px;
}







.scroll-down {
  height: 60px;
  width: 40px;
  border: 2px solid black;
  position: absolute;
  left: 50%;
  border-radius: 60px;
  cursor: pointer;
	border: 2px solid black;
}
.scroll-down::before,
.scroll-down::after {
  content: "";
  position: absolute;
  top: 20%;
  left: 50%;
  height: 10px;
  width: 10px;
  transform: translate(-50%, -100%) rotate(45deg);
  border: 2px solid black;
  border-top: transparent;
  border-left: transparent;
  animation: scroll-down 1s ease-in-out infinite;
}
.scroll-down::before {
  top: 20%;
  animation-delay: 0.3s;
  /* animation: scroll-down 1s ease-in-out infinite; */
}

@keyframes scroll-down {
  0% {
    /* top:20%; */
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  100% {
    top: 90%;
    opacity: 0;
  }
}



.divider {
	position: relative;
	margin-top: 90px;
	height: 1px;
}

.div-transparent:before {
	content: "";
	position: absolute;
	top: 0;
	left: 5%;
	right: 5%;
	width: 90%;
	height: 1px;
	background-image: linear-gradient(to right, transparent, rgb(48,49,51), transparent);
}



html body [data-ca3_iconfont="ETmodules"]::before {
    font-family: "ETmodules";
}
[data-ca3_icon]::before {
    font-weight: normal;
    content: attr(data-ca3_icon);
}

.ca3-scroll-down-arrow {
	background-image: url(../assets/arrow50.png);
	background-size: contain;
	background-repeat: no-repeat;
}

.ca3-scroll-down-link {
  cursor:pointer;
	height: 60px;
	width: 80px;
	margin: 20px 0 0 -40px;
	line-height: 60px;
	position: absolute;
	left: 51%;
	color: black;
	text-align: center;
	font-size: 70px;
	z-index: 100;
	text-decoration: none;
	text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.4);

	-webkit-animation: ca3_fade_move_down 2s ease-in-out infinite;
	-moz-animation:    ca3_fade_move_down 2s ease-in-out infinite;
	animation:         ca3_fade_move_down 2s ease-in-out infinite;
}


/*animated scroll arrow animation*/
@-webkit-keyframes ca3_fade_move_down {
  0%   { -webkit-transform:translate(0,-20px); opacity: 0;  }
  50%  { opacity: 1;  }
  100% { -webkit-transform:translate(0,20px); opacity: 0; }
}
@-moz-keyframes ca3_fade_move_down {
  0%   { -moz-transform:translate(0,-20px); opacity: 0;  }
  50%  { opacity: 1;  }
  100% { -moz-transform:translate(0,20px); opacity: 0; }
}
@keyframes ca3_fade_move_down {
  0%   { transform:translate(0,-20px); opacity: 0;  }
  50%  { opacity: 1;  }
  100% { transform:translate(0,20px); opacity: 0; }
}